PORT=3003
#telegram bot
TELEGRAM_BOT_TOKEN=
#bybit api main account
BYBIT_API_KEY=
BYBIT_API_SECRET=
#bybit api for subaccount
BYBIT_SUB_API_KEY=
BYBIT_SUB_API_SECRET=
#firebase
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
