<div class="app vh-100 d-flex flex-column">
  <div id="headerWidgetContainer"></div>
  <main class="flex-grow-1 px-2">
    {{{body}}}
  </main>
</div>
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tickerSymbol"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>