<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ticker.symbol}}</li>
  </ol>
</nav>
<ul class="list-group">
  {{> ticker ticker=ticker}}
</ul>