<div class="row g-3 h-100">
    <div class="col-lg-3 offcanvas-lg">
      <div class="offcanvas-lg offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Tickers</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body flex-column">
              <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                  <a class="nav-link tab-link active" data-tab="favorites" href="#">❤️</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab-link" data-tab="all" href="#">🪙</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab-link" data-tab="trading" href="#">💰</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab-link" data-tab="alerts" href="#">🔔</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab-link" data-tab="bybit" href="#">🎁</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scaner" href="#">🔎</a>
                </li>
              </ul>
              <div class="coin-list"></div>
          </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
        <div class="position-absolute">
          <div class="position-relative z-3 panel-show-btn d-none">
            {{#if user.auth}}
              <a class="btn btn-outline-light" href="/logout">👨</a>
            {{else}}
              <a class="btn btn-outline-light" href="/login">💂</a>
            {{/if}}
            <button type="button" class="btn" title="Hide info symbol">🔓</button>
          </div>
        </div>
        <div class="position-absolute panel-symbol">
          <div class="btn-group position-relative z-3" role="group" aria-label="Vertical button group">
            <select class="form-control-plaintext border-success" id="tf-select">
              <option value="1min">1m</option>
              <option value="5min">5m</option>
              <option value="15min">15m</option>
              <option value="30min">30m</option>
              <option value="1h">1h</option>
              <option value="2h">2h</option>
              <option value="4h" selected >4h</option>
              <option value="6h">6h</option>
              <option value="12h">12h</option>
              <option value="1d">1D</option>
              <option value="1w">1W</option>
              <option value="1m">1M</option>
            </select>
            <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="30min">30m</button>
            <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="1h">1h</button>
            <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="2h">2h</button>
            <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="4h">4h</button>
            <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="1d">1d</button>
            <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="1w">1w</button>
            <button type="button" class="btn level-move-btn btn-sm btn-light" data-key="ArrowLeft">⬅️L</button>
            <button type="button" class="btn level-move-btn btn-sm btn-light" data-key="ArrowRight">R➡️</button>
          </div>
          <div class="position-relative z-3" style="width: fit-content;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light indicators-btn" title="Show levels">🚫</button>
              <button type="button" class="btn btn-light hide-btn d-none" title="Hide Alerts">🔔</button>
              <button type="button" class="btn btn-light reset-btn d-none" title="Default Alerts">🔃</button>
              <button type="button" class="btn btn-light order-btn d-none" title="Hide Orders, Positions">📬</button>
              <button type="button" class="btn btn-light info-btn" title="Indicators">ℹ️</button>
              <button type="button" class="btn btn-light panel-hide-btn" title="Hide info symbol">🔒</button>
            </div>
          </div>
          <div class="position-relative z-3 mt-0" style="width: fit-content;">
            <span class="h5 display-symbol bg-success-subtle"></span>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light trading-btn d-none" title="Algo-Trading">🕹</button>
              <button type="button" class="btn btn-light show-positions" title="Show positions">🎲</button>
            </div>
          </div>
          <div class="position-relative z-3 mt-0" style="width: fit-content;">
            <span class="fw-bold bg-success-subtle" id="candleEl">Candle</span><br/>
            <a class="switch-user bg-success-subtle" href="#">Main</a>
          </div>
        </div>
        <div class="h-100" id="chart"></div>
    </div>
</div>
