<template id="coin-template">
  <div class="list-group-item coin-item">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <span class="coin-symbol">BTCUSDT</span>
        </div>
        <div class="text-end">
            <span class="coin-price"></span>
            (<span class="coin-change"></span>)
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-light star-btn d-none">🖤</button>
              <button type="button" class="btn btn-sm btn-light alert-btn d-none">🔕</button>
              <button type="button" class="btn btn-sm btn-light add-btn d-none">➕</button>
            </div>
        </div>
    </div>
  </div>
</template>
<template id="message-template">
  <div class="card mb-2">
    <h5 class="card-header">Featured</h5>
    <ul class="list-group list-group-flush">
    </ul>
  </div>
</template>
<div data-page="main" class="active-page">
  <div class="row g-3">
      <div class="col-lg-3 offcanvas-lg">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Tickers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-column">
                <ul class="nav nav-pills mb-3">
                  <li class="nav-item">
                      <a class="nav-link tab-link active" data-tab="favorites" href="#">Favorites</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link tab-link" data-tab="all" href="#">All</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link tab-link" data-tab="alerts" href="#">Alerts</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link tab-link" data-tab="15min" href="#">15min</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link tab-link" data-tab="30min" href="#">30min</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link tab-link" data-tab="1h" href="#">1h</span></a>
                  </li>
                </ul>
                <ul class="list-group coin-list"></ul>
                <nav aria-label="Page navigation example">
                  <ul class="pagination mt-4 pagination-container">
                    <li class="page-item">
                        <a href="#" class="page-link prev-btn">⏪ Prev Page</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link next-btn">Next Page ⏩</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-9">
          <button type="button" class="position-absolute btn panel-btn z-3 end-0" title="Hide info symbol">🫣</button>
          <div class="position-absolute panel-symbol">
            <div class="position-relative z-3">
              <div class="btn-group" role="group">
                <select class="form-select timeframe-select w-auto">
                  <option value="1min">1min</option>
                  <option value="5min">5min</option>
                  <option value="15min">15min</option>
                  <option value="30min">30min</option>
                  <option value="1h" selected>1h</option>
                  <option value="2h">2h</option>
                  <option value="4h">4h</option>
                  <option value="6h">6h</option>
                  <option value="12h">12h</option>
                  <option value="1d">1d</option>
                  <option value="1w">1w</option>
                  <option value="1m">1m</option>
                </select>
              </div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light indicators-btn" title="Delete indicators">🟰</button>
                <button type="button" class="btn btn-outline-light reset-btn d-none" title="Default Alerts">🔃</button>
                <button type="button" class="btn btn-outline-light hide-btn d-none" title="Hide Alerts">📝</button>
                <button type="button" class="btn btn-outline-light info-btn z-4" data-bs-toggle="modal" data-bs-target="#chartModal" title="Indicators">ℹ️</button>
              </div>
            </div>
            <div class="btn-group position-relative z-3 mt-2" role="group" aria-label="Vertical button group">
              <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="15min">15min</button>
              <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="30min">30min</button>
              <button type="button" class="btn tf-btn btn-sm btn-light bg-primary" data-tf="1h">1h</button>
              <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="2h">2h</button>
              <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="4h">4h</button>
              <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="1d">1d</button>
              <button type="button" class="btn tf-btn btn-sm btn-light" data-tf="1w">1w</button>
            </div>
            <div class="position-relative z-3 mt-2">
              <div class="d-none d-lg-block">
                <span class="h4 display-symbol bg-success-subtle"></span>
              </div>
              <a class="d-lg-none" data-bs-toggle="offcanvas" href="#offcanvasResponsive" role="button" aria-controls="offcanvasExample">
                <span class="h4 display-symbol-off bg-success-subtle"></span>
              </a>
            </div>
            <div class="position-relative z-2 mt-2">
              <span id="messageSymbol" class="fw-bold bg-success-subtle"></span>
            </div>
            <div class="position-relative z-2 mt-2">
              <span class="fw-bold bg-success-subtle mt-2" id="volumeEl">Volume</span>
            </div>
            <div class="position-relative z-2 mt-2">
              <span class="fw-bold bg-success-subtle" id="candleEl">Candle</span>
            </div>
          </div>
          <div class="chart-container" id="chart"></div>
          <div class="message text-break"></div>
      </div>
  </div>
</div>