<div class="row h-100 g-3">
  <div class="col-lg-9">
    <div class="card h-100" id="chartWidgetContainer"></div>
  </div>
  <div class="col-lg-3 d-flex flex-column gap-3 offcanvas-lg">
    <div class="offcanvas-lg offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Tickers</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body flex-column">
          <div class="card flex-fill d-flex flex-column" id="watchlistContainer"></div>
          <div class="card flex-fill d-flex flex-column mt-3" id="statsWidgetContainer"></div>
        </div>
    </div>
  </div>
</div>